$grey: #ededed;
$white: #fff;
$red: #ce2e2e;
$blue: #0c46b3;
$green: #77daa0;

$theme-mobile: $red;
$theme-tablet: $blue;
$theme-desktop: $green;

$mobile: 479px;
$tablet-min: 480px;
$tablet-max: 767px;
$desktop: 768px;

section {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    justify-items: center;
    margin: 20px 50px;
    aside {
        margin: 0 20px;
        &.hidden {
            display: none;
        }
    }
    ul {
        width: 100%;
        li {
            .collapsible-header {
                justify-content: space-between;
                align-items: center;
                background: $grey;
                span {
                    display: flex;
                }
            }
            &.enable {
                .collapsible-header {
                    background: $white;
                }
            }
            &.scale-out {
                height: 0;
            }
        }
    }
    @media (max-width: $mobile) {
        color: $theme-mobile;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        color: $theme-tablet;
    }
    @media (min-width: $desktop) {
        color: $theme-desktop;
        flex-direction: row;
        aside {
            max-width: 20%;
        }
    }
}